@import "css/normalize";
@import "css/skeleton";
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.navbar, .navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #b7d7e7;
  margin-bottom: 20px;
  .navbar-list{
    list-style:none;
    margin-bottom: 0px;
    .navbar-item-right {
      position: relative;
      float: right;
      margin-bottom: 0;
      .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
      }
    }
    .navbar-item {
      position: relative;
      float: left;
      margin-bottom: 0;
      .navbar-link {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
      }
    }
  }
}


footer {
  border-top: solid 1px #b7d7e7;
  padding-top: 20px;
}

.linklist {
  padding-left: 10px;
  list-style-type: none;
}
.body-html {
  p {
    margin-bottom: 1.5rem;
  }
  h1{
    font-size: 4.2rem;
  }
  h2{
    font-size: 3.6rem;
  }
  h3{
    font-size: 3.0rem;
  }
  h4{
    font-size: 2.4rem;
  }
  h5{
    font-size: 1.5rem;
  }
  h6{
    font-size: 1.0rem;
  }
  .og-card {
    h2 {
      font-size: 2.4rem;
    }
    width: 50%;
    font-size: 90%;
    border-radius: 4px;
    background-color: #F1F1F1;
    border: solid 1px #E1E1E1;
    a {
      text-decoration: none;
      width: auto;
      img {
        width: 100%;
        max-height: 240px;
        object-fit: fill;
      }
      h2 {
        padding-top: 1.0rem;
        padding-left: 1.5rem;
      }
      p {
        padding-left: 3rem;
        color: black;
      }
    }
  }
}

#editor {
  .input {
    textarea {
      height: 100%;
    }
  }
}

.entry-card {
    border-radius: 4px;
    background-color: white;
    border: solid 1px #E1E1E1;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    padding: 2rem;
    a {
      text-decoration: none;
      h4 {
        border-bottom: solid 1px #b7d7e7;
      }
      &:visit {
        color: #159DD5;
      }
    }
}
